* {
    padding: 0;
    margin: 0;
}

body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width: 100px;background: #222;
    
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 100px;
}
@media only screen and (max-width: 600px) {
    #main{
        margin-left: 0;
    }
}

*{
    
text-decoration:none;    
    
    
}
h40, h41, h42{
    font-size: 30px;
    border-style: solid;
}
h40{
    text-align: left;
}
h42{
    text-align: right;
}
.flexStart{
    display: flex;
}